icons
Makefile
amazon_cloud_player.tar.gz
eu.tiliado.NuvolaAppAmazonCloudPlayer.appdata.xml
eu.tiliado.NuvolaAppAmazonCloudPlayer.data.service
eu.tiliado.NuvolaAppAmazonCloudPlayer.desktop
metadata.json
nuvola-app-amazon-cloud-player
eu.tiliado.WebRuntimeAppAmazonCloudPlayer.desktop
eu.tiliado.WebRuntimeAppAmazonCloudPlayer.service
nuvola-app-amazon-cloud-player.metainfo.xml
screenshots/

